name: Deploy Expo Web to IONOS

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        working-directory: ./backend
        run: npm ci

      - name: Build Expo Web
        working-directory: ./frontend
        run: npx expo export --platform web

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: web-dist
          path: frontend/dist
